{% extends 'base.html.twig' %}

{% block title %}Episode index{% endblock %}

 {% block stylesheets %}
     {{ encore_entry_link_tags('global') }}
     {{ encore_entry_link_tags('episodes') }}
 {% endblock %}

{% block body %}
    <h1 id="episode-head">Episodes</h1>

    <div class="episode-body">
        {% for episode in episodes %}
            <div>
                <h2>{{ episode.title }} : {{ episode.number }}</h2>
                <p>{{ episode.synopsis }}</p>

                {% if is_granted("ROLE_ADMIN") %}
                <div>
                    <a href="{{ path('episode_show', {'slug': episode.slug}) }}">show</a>
                    <a href="{{ path('episode_edit', {'slug': episode.slug}) }}">edit</a>
                </div>
                {% endif %}

             </div>

            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
           {% endfor %}
    </div>


    <a href="{{ path('episode_new') }}">Create new</a>
{% endblock %}
