{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}
 {% block stylesheets %}
     {{ encore_entry_link_tags('global') }}
 {% endblock %}

{% block body %}
    <h1>Episode</h1>

                <h2>Title</h2>
                <p>{{ episode.title }}</p>
    <div>
        Number : {{ episode.number }}
        <br>
        Synopsis
        <p>{{ episode.synopsis }}</p>
    </div>


    {% if app.user %}
        <div>
            <h3>Leave a comment: </h3>
            {{ form_start(form) }}
            {{ form_row(form.comment) }}
            {{ form_row(form.rate) }}
            <button class="btn">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}
        </div>
    {% endif %}
    {% for comment in comments %}
        <p>Comment of {{ comment.author.email }}</p>
        <p>{{ comment.comment }}</p>
        <p>Note : {{ comment.rate }}</p>
    {% endfor %}


    <a class="primary-button" href="{{ path('episode_index') }}">Back to list</a>
    <br>

    <a href="{{ path('episode_edit', {'slug': episode.slug}) }}">Edit</a>
    <br>

    {{ include('episode/_delete_form.html.twig') }}



{% endblock %}
