{% extends 'base.html.twig' %}

{% block title %}Programs{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('global') }}
    {{ encore_entry_link_tags('programs') }}
{% endblock %}

{% block body %}
    <h1>Programs</h1>

    <main class="program-body">
        {% for program in programs %}
            <h1 class="primary-title">{{ program.title }}</h1>
            <div class="program">
                <p>{{ program.summary }}</p>
                <img src="{{ program.title }}" alt="{{ program.poster }}">

            </div>
            <div class="buttons">
                <a class="primary-button" href="{{ path('program_show', {'slug': program.slug}) }}">Show</a>
                <a class="primary-button" href="{{ path('program_edit', {'slug': program.slug}) }}">Edit</a>
            </div>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}

    <a href="{{ path('program_new') }}">Create new</a>

    </main>
{% endblock %}
