{% extends 'base.html.twig' %}
{% block title %}{{ program.title }}{% endblock %}
{% block body %}
    <h1>{{ program.title }}</h1>
    {% for season in seasons %}
        <a href="{{ path('wild_season', {'id': season.id}) }}">
        <h2>Season  {{ season.number }}</h2>
        </a>
    {% endfor %}

    <strong>Actors :</strong>
    <ul>
        {% for actor in program.actors %}
            <a href="{{ path('wild_actor', {'id' : actor.id} )}}">
                <li>{{ actor.name }} </li>
            </a>
        {% else %}
            <li>Aucun acteur pour cette série</li>
        {% endfor %}
    </ul>
{% endblock %}
