{% extends 'base.html.twig' %}
{% block title %}{{ program.title }}{% endblock %}
{% block body %}
  <h1>Season {{ season.number  }} de {{ program.title}}</h1>
  <p><strong>{{ season.year }}</strong></p>
  <p> <strong>{{ season.description }}</strong></p>

  {% for episode in episodes %}
    <a href="{{ path('wild_episode', {'id' : episode.season.id}) }}">
      <br>{{ episode.title }}
    </a>

  {% endfor %}

{% endblock %}
