{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
<header>
    <nav class="navbar navbar-inverse navbar-expand-lg navbar-light bg-navbar">
        <a class="navbar-brand text-option" href="{{ path('app_index') }}">WILD SERIES</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active text-home" href="{{ path('app_index') }}">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link text-option" href="{{ path('program_index') }}">Programs</a>
            </div>
        </div>

        <div>

            {% if app.user %}
                <img src="https://img.icons8.com/offices/30/000000/cookies.png">
                <a href="{{ path('user_profile') }}">Account : {{ app.user.email }}</a>
                <a href="{{ path('app_logout') }}">Logout</a>
            {% else %}
                <a href="{{ path('app_login') }}"> Login</a>
            {% endif %}
        </div>
    </nav>


</header>



